{% extends "base.html" %}
{% block content %}
<h1>{{player.user.username}}'s Profile</h1>
<table>
    <tr>
        <td width='100px'><h3>Match Record</h3></td>
    </tr>
        <td>{% include "score.html" with w=m_wins l=m_loss t=m_ties %}</td>
    <tr>
        <td width='100px'><h4>Game Record</h4></td>
    </tr>
    <tr>
        <td>{% include "score.html" with w=g_wins l=g_loss t=g_ties %}</td>
    </tr>
</table>
<h2>Tournaments</h2>
<table>
<tr>
    <td width="100px"><h4>Tournament</h4></td>
    <td width="100px"><h4>Match Record</h4></td>
    <td width="100px"><h4>Game Record</h4></td>
    <td width="400px"><h4>Matches</h4></td>
</tr>
{% for t in tournaments %}
<tr> 
    <td>{{t.name}}</td>
    <td>{% include "score.html" with w=t.m_wins l=t.m_loss t=t.m_ties %}</td>
    <td>{% include "score.html" with w=t.g_wins l=t.g_loss t=t.g_ties %}</td>
    <td>
        <table>
            <tr> 
                <td width="100px"><h5>Opponent</h5></td>
                <td width="100px"><h5>Outcome</h5></td>
                <td width="100px"><h5>Score</h5></td>       
            </tr>
            {% for m in t.matches %}
            <tr>
                <td><a href="/profile/{{m.opponent.user.username}}">{{m.opponent.user.first_name}} {{m.opponent.user.last_name}}</a></td>
                <td>{{m.outcome}}</td>
                <td>{% include "score.html" with w=m.wins l=m.loss t=m.ties %}</td>
            </tr>
            {% endfor %}
        </table>
    </td>
</tr>
{% endfor %}
</table>


{% endblock %}
