{% extends "base.html" %}
{% block title %}Logged In{% endblock %}
{% block content %}

<h1>Welcome {% include "p_link.html" with username=username display_name=first_name %}!</h1>
<p>Thank you for logging in.</p>
<div class="col-xs-6">
<h4>Matches to confirm</h4>
<table>
<tr>
    <td width="100px"><b>Opponent</b></td>
    <td width="100px"><b>Record</b></td>
    <td width="400px"><b>Confirmation</b></td>
</tr>
{% if opponents %}
    {% for opp in opponents %}
    <tr> 
        <td>{% include "p_link.html" with username=opp.6 display_name=opp.0 %}</td>
        <td>{% include "score.html" with w=opp.1 l=opp.2 t=opp.3 %}</td>
        <td>
            <form method="post" action={{opp.4}}>
            {% csrf_token %}
            <table>
                {{ opp.5.as_table }}
            </table>
            <input type="submit" value="Accept" style="display: inline-block">
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
</table>
    <em style="margin-left: 50px">No requests at this time.</em>
{% endif %}
</div>
<div class="col-xs-6">
    <h4>Tournaments</h4>
    <table>
        <tr>
            <td width="150px"><b>Host</b></td>
            <td width="250px"><b>Name</b></td>
            <td width="400px"><b>Description</b></td>
        </tr>
        {% if tournaments_in %}
            {% for tourn in tournaments_in %}
                <tr>
                    <td>{% include "p_link.html" with username=tourn.host.user.username display_name=tourn.host %}</a></td>
                    <td>{{ tourn.name }}</td>
                    <td>{{ tourn.desc }}</td>
                <tr>
            {% endfor %}
            </table>
        {% else %}
            </table>
            <em style="margin-left: 100px">No tournaments at this time.</em>
        {% endif %}
</div>
{% endblock %}
