{% extends "base.html" %}
{% block title %}Logged In{% endblock %}
{% block content %}

<h1>Welcome <a href="/profile/{{username}}">{{first_name}}</a>!</h1>
<p>Thank you for logging in.</p>
<div class="col-xs-6">
<table>
<tr>
    <td width="100px"><h4>Opponent</h4></td>
    <td width="100px"><h4>Record</h4></td>
    <td width="400px"><h4>Confirmation</h4></td>
</tr>
{% for opp in opponents %}
<tr> 
    <td><a href="/profile/{{opp.6}}">{{opp.0}}</a></td>
    <td>{% include "score.html" with w=opp.1 l=opp.2 t=opp.3 %}</td>
    <td>
        <form method="post" action={{opp.4}}>
        {% csrf_token %}
        <table>
            {{ opp.5.as_table }}
        </table>
        <input type="submit" value="Accept" style="display: inline-block">
    </td>
</tr>
{% endfor %}
</table>
</div>
<div class="col-xs-6">
    <h4>Tournaments</h4>
    <table>
        <tr>
            <td width="100px">Host</td>
            <td width="200px">Name</td>
            <td width="400px">Description</td>
        </tr>
        {% for tourn in tournaments_in %}
            <tr>
                <td><a href="/profile/{{ tourn.host.user.username }}">{{ tourn.host }}</a></td>
                <td>{{ tourn.name }}</td>
                <td>{{ tourn.desc }}</td>
            <tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
