{% extends "base.html" %}
{% block title %}Logged In{% endblock %}
{% block content %}

<h1>Welcome <a href="/profile/{{username}}">{{first_name}}</a>!</h1>
<p>Thank you for logging in.</p>
<div class="col-xs-6">
<a href="/request">Add Match</a>
<table>
<tr>
    <td width="100px"><h4>Opponent</h4></td>
    <td width="100px"><h4>Record</h4></td>
    <td width="400px"><h4>Confirmation</h4></td>
</tr>
{% for opp in opponents %}
<tr> 
    <td><a href="/profile/{{opp.6}}">{{opp.0}}</a></td>
    <td><lol style="color: green">{{opp.1}}</lol> - <lol style="color: red">{{opp.2}}</lol> - {{opp.3}}</td>
    <td>
        <form method="post" action={{opp.4}}>
        {% csrf_token %}
        <table>
            {{ opp.5.as_table }}
        </table>
        <input type="submit" value="Accept" style="display: inline-block">
    </td>
</tr>
{% endfor %}
</table>
</div>
<div class="col-xs-6">
    COLUMN 2
</div>
{% endblock %}
