{% extends "base.html" %}
{% block title %}Match Verification Requested!{% endblock %}
{% block content %}

<h3>You have requested {{ player2_name }} to verify the following match.</h3>
<span>
    <table>
        <h4>
        <tr>
            <td align="center">Wins</td>
            <td align="center">Loss</td>
            <td align="center">Ties</td>
        </tr>
        </h4>
        <h3>
        <tr>
            <td align="center" width="100px" style="color: green">{{p1_wins}}</td>
            <td align="center" width="100px" style="color: red">{{p2_wins}}</td>
            <td align="center" width="100px">{{ties}}</td>
        </tr>
        <h3>
    </table>
</span>
<a href="/welcome">Back to Home</a>
{% endblock %}
